
<br>
<center><h2>Lista di tutte le canzoni</h2></center>

<div class="container">
  <div class="row">
    <% @songs.each do |song| %>
      <div class= "col-md-4">
        <div class ="card mt-3">
          <div class="card-header">

           <center> <h5><%=song.title%></h5></center>
          </div>

          <center><div class="card-body" >
           <td>Artist: <%= song.artist %></td><br>
           <td>Genre: <%= song.genre %></td><br>
           <td>Year: <%= song.year %></td><br>
           <br>
           <td>Ultima modifica da : <%= User.find(song.user_id).email %></td><br>
            <br>
            <%=link_to "Lyrics", song_path(song.id),class: 'btn btn-primary', style: "background-color: #FF4F00" %>
          </div></center>
          <% if can? :destroy, Song %>
          <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
          <%end%>
          </div>
      </div>
      <%end%>

      

  </div>



</div>

<center><div>
<br>
<% if can? :create, Song %>
<%= link_to 'Crea una nuova canzone', new_song_path, class: 'btn btn-success' %>
<%end%>
<br>
<br>
</div></center>