<div class ="container-fluid">
 <h1> Playlist: <%= @song.playlist.name%></h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @song.artist %>
</p>

<p>
  <strong>Year:</strong>
  <%= @song.year %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @song.genre %>
</p>

<p>
  <strong>Lyric:</strong>
  <%= simple_format(@song.lyric) %>
</p>
<% if can? :edit, Song %>
<%= link_to 'Edit', edit_song_path(@song) %> |
<%end%>
<%= link_to 'Back', songs_path %>

</div>
