    <% if @playlists.count >1 %>
<br>

    <center><h2> Lista delle Playlist:</h2> </center>
       
    <center><div class="container">
    <div class="row">
    <% @playlists.each do |playlist| %>
      <div class= "col-md-4">
          <div class ="card mt-3" style= "background-color: #FF4F00">
               <%=link_to playlist.name ,playlists_path(:play => playlist.id), class: 'btn', style: 'color: white'%>
  
            <center><div class="card-body" style= "background-color: #FFFFFF">
             <td>Descrizione: <%= playlist.content %></td>
             <br>
             <td>Ultima modifica da : <%= User.find(playlist.user_id).email %></td>
              <br>
            </div></center>
            <td>
            <% if can? :destroy, Playlist %>
              <%= link_to 'Destroy', playlist, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
            <%end%>
              </div>
        </div>
   
    <%end%>
    </div>
    </div></center>

    <br>
        <br>
            <br>

    <div class= "justify-content-center">
    <%end%>
    </div>
    <% if @playlists.count ==1 %>
    <% @playlists.each do |playlist| %> <h1 style="color: #FF4F00"><%=playlist.name  %> </h1> <br> <h4>Descrizione: </h4> 
    <p> <%=playlist.content %> <%= link_to 'Modifica descrizione', edit_playlist_path(playlist.id) %>
      
      <br>Ultima modifica da: <%= User.find(playlist.user_id).email %>
      <%end%>
    
      <br>
    <h3> Lista delle canzoni:  </h3>

    
   
    <div class="container">
    <div class="row">
      <% @songs.each do |song| %>
        <div class= "col-md-4">
          <div class ="card mt-3">
            <div class="card-header">
  
             <center> <h3><%=song.title%></h3></center>
            </div>
  
            <center><div class="card-body" >
             <td>Artist: <%= song.artist %></td><br>
             <td>Genre: <%= song.genre %></td><br>
             <td>Year: <%= song.year %></td><br>
             <br>
             <td>Ultima modifica da : <%= User.find(song.user_id).email %></td><br>
              <br>
              <%=link_to "Lyrics", song_path(song.id),class: 'btn btn-primary', style: "background-color: #FF4F00" %>
            </div></center>
            <td>
            <% if can? :destroy, Song %>
            <%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
            <%end%>
            </div>
        </div>
        <%end%>
  
        
  
    </div>
  
  </div>
    <%end%>
    <center><div class = "container justify-content-center">
    <br>
<% if can? :create, Song %>
    <%= link_to 'Crea una nuova playlist', new_playlist_path, class: 'btn btn-success'%>
    <%end%>
    </div></center>


<br>
